*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}
.wrap,
nav,
header{
    height: 360px;
}
nav{
    float: left;
    width: 350px;
    /* background-color: #e97c42; */
}
header{
    float: left;
    width: calc(100% - 350px);
    background-image:url(/pianomenu/images/piano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
ul{
    list-style: none;
}
i{
    width: 60px;
    border-right: solid 3px #666;
    margin-right: 20px;
    transition: .5s;
}
a{
    display: block;
    text-decoration: none;
    font-family: fantasy;
    font-size:40px;
    line-height: calc(360px / 5);
    color: #666;
}
a:hover i{
    margin-right: 80px;
    color: chartreuse;
}
a:hover{
    color: chartreuse;
}
section{
    margin-top: 50px;
}
section h1{
    font-size: 60px;
    line-height: 200%;
    font-family: fantasy;
    background-color: rgb(6, 8, 12);
    color: rgb(170, 170, 170);
    text-align: center;
    text-transform: uppercase;
}